/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Colors */
:root {
  /* Primary Colors */
  --navy-blue: #1D3557;
  /* Use for headers, navigation bars, and important text */
  --deep-red: #D7263D;
  /* Use for buttons, call-to-action elements, and highlights */

  /* Secondary Colors */
  --light-beige: #F2E9E4;
  /* Use for background color or text-heavy content sections */
  --muted-gold: #D4A373;
  /* Use for accent elements like icons, borders, and hover effects */

  /* Accent Colors */
  --soft-blue: #4A90E2;
  /* Use for links, secondary buttons, and interactive elements */
  --white: #FFFFFF;
  /* Use for text on dark backgrounds, section dividers, and to maintain a clean layout */

  /* Text Colors */
  --charcoal-gray: #333333;
  /* Use for body text and paragraphs */
  --light-gray: #535353;
  /* Use for less important text or placeholders */
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline-color: none;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

/*===== BASE =====*/
*::before,
*::after {
  box-sizing: border-box;
  position: absolute;
  content: "";
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: var(--charcoal-gray);
  position: relative;
  background: var(--light-beige);
}

/* --------<<<<<>>>>-------- 
  DEFAULT STYLING STARTS HERE  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', serif;
}

button,
.cta-button {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
  line-height: 1.2;
  margin: 0 0 15px 0;
}

/* custom text highlights */
.highlight--theme {
  position: relative;
  display: inline-block;
  z-index: 2;
  color: gold;
}

.highlight--theme::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14px;
  transform: skew(-12deg);
  background: lightgoldenrodyellow;
  z-index: 1;
  opacity: .5;
  animation: underline-fill 4s ease-in-out infinite;
}

@keyframes underline-fill {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
  }
}

p {
  color: var(--charcoal-gray);
  font-size: .9rem;
  line-height: 1.7;
}

.section-heading {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: var(--navy-blue);
  max-width: 70%;
  margin: 0 auto 30px auto;
  padding: 0 0 10px 0;
}

.section-heading::before {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50%;
  margin: 20px 0 0 0;
  background: var(--muted-gold);
  border-radius: 50%;
}

.section-heading::after {
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  background-image: url("/merasamvidhan/assets/media/heading-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
}

h3 {
  color: var(--soft-blue);
  border-left: 5px solid var(--soft-blue);
  padding: 0 0 0 10px;
  margin: 0 0 15px 0;
}

h4 {
  font-size: 1rem;
  font-weight: var(--font-weight-h4);
  color: var(--var(--paragraph));
  font-family: var(--font-secondary);
  display: inline-block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

a.footer_greeting {
  color: var(--navy-blue);
  font-size: 14px;
  font-family: var(--font-secondary);
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

video {
  width: 100%;
  margin: 10px 0 10px 0;
}

section {
  padding: 80px 0;
  min-height: fit-content;
  overflow: hidden;
  scroll-snap-align: start;
}

button {
  transform-style: preserve-3d;
  padding: 10px 20px;
  color: var(--navy-blue);
  border: 1px solid var(--navy-blue);
  border-radius: 4px;
  cursor: pointer;
  transform: rotateX(20deg);
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
}

button a {
  color: var(--navy-blue);
}

button:hover {
  color: white;
  z-index: 1s;
  border-color: var(--muted-gold);
}

button:hover a {
  color: #fff;
}

button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--muted-gold);
  top: 0;
  left: -40px;
  z-index: -1;
  transform: skewX(45deg);
  border-radius: 4px;
  transition: all 1s;
}

button::after {
  content: "";
  position: absolute;
  width: 10%;
  filter: blur(7px);
  height: 100%;
  background-color: white;
  top: 0;
  left: -10px;
  transition: all 0.9s linear;
  transform: skewX(45deg);
}

button:hover::after {
  transform: translateX(115px);
}

button:hover::before {
  width: 200%;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.nav-container {
  max-width: 65%;
  margin: 0 auto;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* default web icon styling on page */
.web-icons {
  display: flex;
  gap: .5rem;
  border: 2px solid white lawngreen;
  margin: .5rem 0 .5rem 0;
}

.web-icons a {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-icons a i {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.web-icons a i {
  color: var(--secondary);
}

i:hover {
  margin-bottom: .5rem;
  color: var(--theme-2);
}

/* NAVIGATION BAR */
nav {
  text-transform: uppercase;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: #ffffff;
  background: var(--navy-blue);
}

nav.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

nav.visible {
  transform: translateY(0);
}

/* added class swith JS */
.window-scroll {
  background-color: var(--navy-blue);
}

.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO STARTS HERE */
.logo {
  z-index: 98;
  color: white;
  display: flex;
  gap: .5rem;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  text-transform: lowercase;
}

.logo img {
  width: 2.6rem;
}

.nav__navigation ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav__navigation ul li a {
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  position: relative;
}

.nav__navigation ul li a:hover::after {
  height: .2rem;
  background-color: var(--navy-blue);
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  animation: fillbar 400ms ease forwards;
  border-radius: 5px;
}

@keyframes fillbar {
  0% {
    width: 0;
  }

  100% {
    width: 2.5rem;
  }
}

.nav__navigation ul li a:hover {
  color: var(--navy-blue);
}

.li-none-desk {
  display: none;
}

/* hiding menu button for desktop */
.menuBtn {
  margin-right: .6rem;
  display: none;
}

@media screen and (max-width: 768px) {

  /* sm-NAVIGATION STARTS HERE */
  .nav-container {
    max-width: 90%;
    margin: 0 auto;
  }

  section.animate-section {
    min-height: 10vh;
  }

  .animate-text span {
    font-size: 2rem;
  }

  .nav__navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--navy-blue);
    transition: all 400ms ease;
  }

  /* added class with JavaScript */
  .active {
    right: 0;
    transition: all 400ms ease;
  }

  .nav__navigation {
    display: grid;
    place-items: center;
  }

  .nav__navigation ul {
    margin: auto 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .nav__navigation ul li {
    width: 100%;
    height: 100%;
    transition: all 400ms ease;
  }

  .nav__navigation ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.5;
  }

  .nav__navigation ul li a:hover::after {
    display: none;
  }

  .nav__navigation ul li a:hover {
    color: var(--headline);
  }

  .nav__navigation ul li:active {
    color: var(--headline);
    background: var(--secondary-light);
  }

  .li-none-desk {
    display: block;
  }

  /* NAVIGATION BUTTON STARTS HERE */
  .menuBtn {
    width: 2.2rem;
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms ease;
  }

  .menuBtn span {
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: var(--white);
    border-radius: 4px;
    transition: bottom 0.35s cubic-bezier(.5, -0.35, .35, 1.5), transform 0.35s cubic-bezier(.5, -0.35, .35, 1.5), opacity 0.35s cubic-bezier(.5, -0.35, .35, 1.5);
  }

  /* Positioning the bars with equal spacing */
  .menuBtn span:nth-child(1) {
    top: 0.3rem;
    width: 50%;
  }

  .menuBtn span:nth-child(2) {
    top: 0.9rem;
  }

  .menuBtn span:nth-child(3) {
    top: 1.5rem;
    width: 50%;
  }

  .menu-active span:nth-child(1) {
    transform: rotate(-135deg);
    top: 0.9rem;
    width: 100%;
  }

  .menu-active span:nth-child(2) {
    opacity: 0;
    transform: rotate(-135deg);
  }

  .menu-active span:nth-child(3) {
    transform: rotate(-225deg);
    top: 0.9rem;
    width: 100%;
  }

  @keyframes hide {
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* ---------<<<<<>>>>--------- 
 HERO HEADER SECTION STARTS HERE  */
 
header {
  height: 100vh;
  background: var(--navy-blue);
  position: relative;
  margin: 0 0 60px 0;
}

.header-info {
  max-width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 175px;
}

.header-info p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  opacity: .8;
}

.header-scroll-image {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  background: lightgrey;
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, var(--navy-blue), var(--navy-blue) 40%, var(--light-beige));
}

.header-scroll-image img {
  width: 70%;
}

@media screen and (max-width: 1008px) {
    .menuBtn {
display: flex;
  }
}
@media screen and (min-width: 768px) {
.container {
width: 80%%
}

  .about-video {
display: flex;
    aliiggn-items: center;
    justify-content: center;
  }
  video {
max-width: 50%;
    margin : 0 atuo;
  }
  .header-info {
  max-width: 55%;
}
  .header-scroll-image img {
width: 25%;
}
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

/* -------------<<<<<>>>>------------
 ABOUT CONSTITUTION SECTION STARTS HERE  */
 
#about-constitution {
  padding-top: 200px;
}

#about-constitution h3 {
  color: var(--muted-gold);
  border-color: var(--muted-gold);
}

.about-video video,
article-holder video {
  width: 100%;
}

/* ----------<<<<<>>>>---------- 
  WHAT TO READ SECTION STARTS HERE  */
  
#what-to-read {
  background: var(--deep-red);
}

.card-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 90%;
  margin: 0 auto 0 auto;
}

/*
@media screen and (min-width: 700px) {
 .card-slider {
   min-height: 30vh;
 }
}
*/
.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  color: #fff;
  font-weight: 600;
  background: var(--navy-blue);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -25px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
  width: 98%;
  padding: 10px;
  flex-direction: column;
  border: 2px solid var(--navy-blue);
  box-sizing: border-box;
  text-align: center;
}

.card h3 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  border: none;
  color: var(--white);
}

.card span {
  color: greenyellow;
  font-size: .8rem;
}

.card p {
  font-size: .9rem;
  color: #D5D5D5;
}

.card button {
  margin: 10px 0 0 0;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* -------------<<<<<>>>>-------------
 WHY WE SHOULD LEARN SECTION STARTS HERE */
 
#why-learn p {
  margin-bottom: 40px;
  text-align: center;
}

#why-learn .benefits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#why-learn .benefit-item {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

#why-learn .benefit-item:hover {
  transform: translateY(-10px);
}

.benefit-item img {
  margin: 0 auto 10px auto;
  width: 100px;
}

#why-learn .benefit-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--primary);
  border: none;
}

/* ---------<<<<<>>>>--------- 
 POPUP FOR EACH BLOG STARTS HERE  */
.popup,
.quiz-poup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup.show {
  display: block;
  opacity: 1;
}

.popup-content,
.quiz-popup-conent {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #888;
  width: 100%;
  max-height: 100%;
  height: 100%;
  position: relative;
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.popup-nav,
.quiz-popup-nav {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--navy-blue);
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: #fff;
  z-index: 100;
}

.popup-nav p,
.quiz-popup-nav p {
  color: #fff;
  font-weight: 600;
}

.popup.show .popup-content {
  transform: scale(1);
}

.article-holder {
  font-family: "Poppins", sans-serif;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
}

.article-holder ul {
  margin: 10px 0 10px 0;
}

.article-holder li {
  list-style-type: circle;
  margin: 5px 0 0px 30px;
  font-size: .9rem;
  color: var(--light-gray);
}

.article-holder h2 {
  font-size: 1.4rem;
  color: var(--navy-blue);
  text-align: left;
}

.article-holder h3 {
  color: var(--navy-blue);
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  margin: 20px 0 10px 0;
  line-height: 1;
}

.article-holder p {
  color: rgba(35, 35, 35, 0.98);
  text-align: left;
}

.article-holder img {
  border-radius: 10px;
  margin: 0 0 8px 0;
}

.popup-nav i,
.quiz-popup-nav i {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-right: 10px;
  color: #fff;
}

/*  -----------<<<<<>>>>----------- 
  ARTICLE TEST QUIZ GAME STARTS HERE  */
  
#quiz-container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #DFE0E7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.quiz-question p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-options div {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.quiz-options div:hover {
  background-color: #e9ecef;
}

#quiz-score {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
  color: #28a745;
}

/* --------<<<<<>>>>-------- 
PLAY GAMES SECTION STARTS HERE  */

#games-section .games-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.game-card {
  width: 70%;
  text-align: center;
  padding: 20px;
  background: #FFDA00;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(215, 184, 0, 0.33);
}

.game-card h3 {
  border: none;
  padding: 0;
  margin: 0 0 0 0;
  color: var(--navy-blue);
}

.game-card p {
  margin: 0 0 10px 0;
}

.game-holder {
  margin: 20px 0 0 0;
}

/* ----------<<<<<>>>>----------
  HOME PAGE QUIZ GAME STARTS HERE  */
.quiz-popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  border-radius: 10px;
  z-index: 1000;
  display: none;
  overflow: auto;
}

.quiz-popup-content {
  padding: 20px;
  overflow-y: scroll;
}

.quiz-holder {
  text-align: center;
}

.quiz-question {
  font-size: 18px;
  margin-bottom: 20px;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.quiz-option-button {
  padding: 10px 15px;
  background-color: #F0F0F0;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.quiz-option-button:hover {
  background-color: #ddd;
}

.quiz-option-correct {
  background-color: #4caf50 !important;
  color: white;
}

.quiz-option-incorrect {
  background-color: #f44336 !important;
  color: white;
}

.quiz-next-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
}

.quiz-next-button:hover {
  background-color: #0056b3;
}

.quiz-result {
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
  margin-top: 20px;
}

/* --------<<<<<>>>>-------- 
    MEMORY GAME STARTS HERE  */
.memory-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Only 2 cards per row */
  grid-gap: 15px;
  margin-top: 5px;
}

.memory-card {
  width: 110px;
  height: 110px;
  background-color: #f0f0f0;
  /* Default background color */
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
  text-align: center;
  font-size: .85rem;
}

.memory-card .card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  /* Start with the back facing up */
}

.memory-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.memory-card .card-front,
.memory-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.memory-card .card-front {
  background-color: #4caf50;
  /* Green color for correct match */
  color: white;
  transform: rotateY(180deg);
}

.memory-card .card-back {
  background-color: #3498db;
  /* Default color for card back */
  color: white;
  font-size: 2rem;
}

.memory-card.matched .card-inner {
  background-color: #27ae60;
  /* Green color when matched */
}

/* --------<<<<<>>>>-------- 
  MATCH PAIR GAME STARTS HERE  */
.match-pair-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* Added spacing between the columns */
  padding: 20px;
}

.game-introduction {
  text-align: center;
  margin: 20px 0 20px 0;
  color: var(--soft-blue);
}

.match-pair-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Added spacing between items */
}

.draggable-item-match-pair {
  background-color: #E4E3EF;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.droppable-item-match-pair {
  background-color: transparent;
  /* Transparent background */
  padding: 15px;
  border: 2px solid #ccc;
  /* Border to differentiate */
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.matched-item-match-pair {
  background-color: #4caf50;
  /* Green for correct match */
  color: white;
  pointer-events: none;
}

/* Try again message styling */
.try-again-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.correct-match-background {
  background-color: lightgreen;
}

.article-explanation {
  width: 90%;
  margin: 20px auto 0 auto;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}


/* --------<<<<<>>>>-------- 
   FAQ SECTION STARTS HERE  */

.faq-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.faq-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #f0f0f0;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h3 {
  margin: 0;
  font-size: 18px;
}

.faq-toggle {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  padding-top: 10px;
  font-size: 16px;
  color: #555;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-toggle {
  transform: rotate(45deg);
  }
